slides slide.title-slide::after {
  background: none;
}

.segue {
  background-position: center;
  background-repeat: no-repeat;
}
.graph-centered,
.vert-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.graph-centered {
  left: 60%;
}

.browser-graph .browser-circle {
  -webkit-transition: color 2s, background-color 2s;
  -ms-transition: color 2s, background-color 2s;
  -moz-transition: color 2s, background-color 2s;
  -o-transition: color 2s, background-color 2s;
  transition: color 2s, background-color 2s;
}

.browser-graph .text-percent {
  -webkit-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}

.browser-circles {
  left: 50%;
  top: 55%;
  width: 800px;
  height: 500px;
}
.browser-circle {
  border: 10px solid #aaa;
  width: 150px;
  height: 150px;
  border-radius: 85px;
  text-align: center;
  position: absolute;
  line-height: 150px;
  color: white;
}
.browser-circle.chrome {
  background-color: #dc3912;
  left: 315px;
  top: 0;
}
.browser-circle.ff {
  background-color: #ff9900;
  top: 130px;
  left: 125px;
}
.browser-circle.safari {
  background-color: #109618;
  left: 185px;
  bottom: 0;
}
.browser-circle.opera {
  background-color: #990099;
  right: 185px;
  bottom: 0;
}
.browser-circle.ie {
  background-color: #3366cc;
  top: 130px;
  right: 125px;
}
.browser-circles .circle-text {
  font-size: 75px;
  color: black;
  display: block;
  opacity: 0;
  -webkit-transition: opacity 2s;
  -ms-transition: opacity 2s;
  -moz-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}









    .mobile-intro .computer {
      position: absolute;
      z-index: -1;
      top: 7%;
      left: 0%;
    }
    .mobile-intro .overlay-text {
      opacity: 0;
      color: white;
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
    }
    .mobile-intro[data-step-on="0"] .computer img {
      opacity: 0;
    }
    .mobile-intro .overlay-text,
    .mobile-intro .computer img {
      -webkit-transition: opacity 1s, color 1s;
      -ms-transition: opacity 1s, color 1s;
      -o-transition: opacity 1s, color 1s;
      transition: opacity 1s, color 1s;
    }
    .mobile-intro[data-step-on="0"] .video-text {
      opacity: 1;
      color: black;
    }
    .mobile-intro[data-step-on="1"] .video-text {
      opacity: 1;
      color: white;
    }
    .mobile-intro[data-step-on="2"] .cat-text {
      opacity: 1;
    }
    .mobile-intro[data-step-on="3"] .flash-text {
      opacity: 1;
    }
    .mobile-intro[data-step-on="4"] .html5-text {
      opacity: 1;
    }
	
	
    .browser-dist .graph {
      -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
      -o-transform: scale(1.3);
      transform: scale(1.3);
    }
  
    .video-graph[data-step-on="0"] .browser-circle,
    .video-graph[data-step-on="0"] .ie {
      background-color: #444;
    }

    .video-graph[data-step-on="1"] .ie {
      background-color: #36c;
      background-image: -webkit-linear-gradient(top, #444 50%, transparent 50%);
    }

    .video-graph[data-step-on="1"] .text-percent {
      opacity: 1;
    }
	
    .mobile-stats svg {
      position: relative;
      top: -100px;
      left: -100px;
      -webkit-transform: scale(.8);
      -moz-transform: scale(.8);
      -o-transform: scale(.8);
      transform: scale(.8);
    }
